h1
{
    border-style: groove;
    border-color: Gray;
    margin: 15px;
    text-align:center;
    color:Blue;
    background-color:Yellow;
    height:70px;
}

body 
{
    border-style: groove;
    border-color: Gray;
    margin: 15px;
    height:auto;
    background-color:Silver;
    background-image:url('C:\Users\C J Waldron\Desktop\cis375-master\cis375projectmysqlDB - Copy\images\photo-2.jpg');
    margin-left:20px;
}

footer
{
    border-style: groove;
    border-color: Gray;
    margin: 15px;
    height:25px;
    background-color:Yellow;
    font-size:small;
    text-align:center;
}

