h1
{
    background-color:Yellow;
    text-align:center;
    color:Navy;
    font-size:x-large;
    height:50px;
}

body 
{
    background-color:silver;
    height:auto;
    border-bottom-color:Gray;
    border-top-color:Gray;
    border-left-color:Gray;
    border-right-color:Gray;
    border-bottom-style:groove;
    border-top-style:groove;
    border-left-style:groove;
    border-right-style:groove;
    margin-top:15px;
    margin-bottom:15px;
    margin-left:15px;
    margin-right:15px;
}

f
{
    background-color:Yellow;
    text-align:center;
    color:Navy;
    height:50px;
}